body{
    background-color: lightpink
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

nav li{
    text-align: center;
    display: inline;
    padding: 5px;
    margin: 5px
}


