body{
    background-color: lightpink
}

h1 {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

nav li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(248, 138, 156);
    display: inline;
    float:center;
}

nav li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 5px;
  text-decoration: none;
}

li a:hover
{
    background-color:rgb(245, 153, 168);
}

h2{
    text-align: center;
}

figure{
    text-align: center;
}

section.contact{
    text-align: center;
}

footer{
    text-align: center;
}


